﻿@model List<SocialNetwork.Models.Friend>

@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ChatCSS.css" />

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("SectionHide").style.display = "none";

    });

    function ShowMessage(id, name) {
        document.getElementById("SectionHide").style.display = "block";
        $('#userId').val(id);
        $('#userInput').val(name);
    }

</script>




<div class="container">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0">
                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div style="width:300px;height:800px">
                            <div class="users-container">
                                <p><strong>Friends</strong></p>
                                <ul class="users">
                                    @for (var i = 0; i < Model.Count; i++)
                                    {
                                        <li class="person" data-chat="person1">
                                            <div class="user">


                                                @if (Model[i].FriendResponse.UserID == ViewBag.IdUser)
                                                {
                                                    <img src="@Model[i].FriendSent.PhotoProfile.ImageDataUrl" />
                                                }
                                                else
                                                {
                                                    <img src="@Model[i].FriendResponse.PhotoProfile.ImageDataUrl" />
                                                }



                                            </div>
                                            <p class="name-time">
                                                @if (Model[i].FriendResponse.UserID == ViewBag.IdUser)
                                                {

                                                    <input type="button" class="btn btn-link" value="@Model[i].FriendSent.Fullname" onclick="ShowMessage(@Model[i].FriendResponse.UserID,'@Model[i].FriendResponse.Fullname');" />
                                                }
                                                else
                                                {
                                                    <input type="button" class="btn btn-link" value="@Model[i].FriendResponse.Fullname" onclick="ShowMessage(@Model[i].FriendSent.UserID, '@Model[i].FriendSent.Fullname');" />

                                                }

                                            </p>

                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div style="width:500px;height:400px">
                            <div class="chat-container">
                                <input type="text" id="userInput" readonly hidden />
                                <input type="text" id="userId" readonly hidden />
                                <ul class="chat-box chatContainerScroll" id="messagesList">
                                    @*
                                        <li class="chat-left">
                                                 <div class="chat-avatar">
                                                     <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                     <div class="chat-name">Russell</div>
                                                 </div>
                                                 <div class="chat-text">
                                                     Hello, I'm Russell.
                                                     <br>How can I help you today?
                                                 </div>
                                                 <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                                             </li>
                                             <li class="chat-right">
                                                 <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
                                                 <div class="chat-text">
                                                     Hi, Russell
                                                     <br> I need more information about Developer Plan.
                                                 </div>
                                                 <div class="chat-avatar">
                                                     <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                     <div class="chat-name">Sam</div>
                                                 </div>
                                             </li>*@

                                </ul>
                                <div class="form-group" style="margin-top:700px" id="SectionHide">
                                    <div class="row">
                                        <div class="col-9">
                                            <input type="text" id="messageInput" class="form-control" style="width:600px" placeholder="Message..."/>
                                        </div>
                                        <div class="col-6" style="margin-top:-38px;margin-left:610px;">
                                            <input type="button" id="sendButton" class="btn btn-success" value="Send Message" />
                                        </div>
                                    </div>
                                </div>                       
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Content wrapper end -->

</div>
<script src="~/lib/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SignalR.js"></script>
