﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @RenderSection("Scripts", required: false)
</head>
<body style="background: url('../Imag/bg.jpg');background-attachment: fixed;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="height: 65px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Note" asp-action="Note"><div class="alert alert-success" style="border-radius: 40%;width:60px;height:55px;margin-top: 15px;"><img src="~/Imag/logo.png" width="56px" height="35px" style="margin-left:-15px;margin-top:-4px;" /></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Chat" asp-action="Chat">Chat</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Friends" asp-action="Friends">Friends</a>
        </li>*@

                        @if (ViewBag.Role == "ADMIN")
                        {
                            <li class="nav-item">
                                <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Role" asp-action="Role">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Home" asp-action="Feedbacks">Feedbacks</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Profile" asp-action="Profile">@ViewBag.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Home" asp-action="Login">Log off</a>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SocialNetwork
        </div>
    </footer>
</body>
</html>
