﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Validation.js" asp-append-version="true"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body style="background: url('../Imag/bg.jpg');background-attachment: fixed;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="height: 65px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Note" asp-action="Note"><div class="alert alert-success" style="border-radius: 40%;width:60px;height:55px;margin-top: 15px;"><img src="~/Imag/logo.png" width="56px" height="35px" style="margin-left:-15px;margin-top:-4px;" /></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;margin-top:20%" asp-controller="Chat" asp-action="Chat">Chat</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;margin-top:20%" asp-controller="Friends" asp-action="Friends">Friends</a>
                        </li>*@

                        @if (ViewBag.Role == "ADMIN")
                        {
                            <li class="nav-item">
                                <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;margin-top:20%" asp-controller="Role" asp-action="Role">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;margin-top:15%" asp-controller="Home" asp-action="Feedbacks">Feedbacks</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;margin-top:20%" asp-controller="Home" asp-action="About">About</a>
                        </li>

                        <div class="chat-search-box">
                            <div class="input-group col-10">
                                <form asp-controller="Friends" asp-action="Friends" method="post" enctype="multipart/form-data">
                                    <input  name="nameUser" id="nameUser" style="width:200px;margin-top:10%" placeholder="Type the user's name..." />
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-link" style="width:50px; margin-left:100%;margin-top:-32%">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link rightnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Profile" asp-action="Profile">@ViewBag.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link leftnav" asp-area="" style="font-size: large;color: lime;" asp-controller="Home" asp-action="Login">Log off</a>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SocialNetwork
        </div>
    </footer>
</body>
</html>
