﻿@model List<SocialNetwork.Models.User>

@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="chat-search-box">
    <div class="input-group col-10">
        <form asp-controller="Friends" asp-action="SearchByName" method="post" enctype="multipart/form-data">
            <input class="form-control" name="nameUser" id="nameUser" style="width:600px" placeholder="Type the user's name..." />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info" style="width:300px">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>*@



    @for (var i = 0; i < Model.Count; i++)
    {<div class="container alert-success" style="margin-top: 50px; width:800px">
            <div class="col-xs-12 col-sm-9 col-md-7 col-md-offset-2">
                <div class="row">
                    <div style="margin:10px 10px 10px 10px">
                        @if (Model[i].PhotoProfile != null)
                        {
                            <img src="@Model[i].PhotoProfile.ImageDataUrl" alt="" class="img-rounded img-responsive" style="width:400px;height:300px" />
                        }
                    </div>
                    <div class="col-9 offset-11" style="margin-top:-300px;">
                        <h4><strong><i class="material-icons">person</i> @Model[i].Fullname</strong></h4>
                        <i class="material-icons">mail</i> @Model[i].Email

                        @if (Model[i].Country != null)
                        {
                            <br /><i class="material-icons">location_city</i> @Model[i].Country
                        }

                        @if (Model[i].CompanyWorking != null)
                        {
                            <br /><i class="material-icons">business_center</i> @Model[i].CompanyWorking
                        }


                        @if (Model[i].About != null)
                        {
                            <br />
                            <i class="material-icons">mode_edit</i> @Model[i].About

                        }



                        @if (Model[i].WebSite != null)
                        {<br />
                            <i class="material-icons">public</i> @Model[i].WebSite
                        }

                        @if (Model[i].Genre != null)
                        {
                            <br /> <i class="material-icons">person</i>@Model[i].Genre
                        }

                        @if (Model[i].BirthDay != null)
                        {
                            <br /> <i class="material-icons">cake</i> @Model[i].BirthDay.ToString().Split(" ")[0]
                        }

                        <br />
                        <input type="button" class="btn btn-primary" value="BecomeFriends" onclick="BecomeFriends(@Model[i].UserID)" />

                    </div>

                </div>
            </div>

        </div>

    }
