﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () {
        $('#FeedBack').modal("hide");
    })

    function GiveFeedback(subject, content) {
        if (subject == "" || subject == null) {
            alert("The subject is required!");
        } else {
            $.ajax({
                type: "POST",
                url: "/Home/GiveFeedback",
                data: {
                    'Content': content,
                    'Subject': subject
                },
                dataType: "json",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        alert("Your feedback has been successfully registered! Thank you!");
                        window.location.reload();
                    } else {
                        alert(responseMessage);
                    }
                }
            });
        }
    }
</script>

<div class="container" style="margin-top: 30px;">
    <button id="GiveFeedback" class="btn btn-link" title="Give us a feedback!" onclick="$('#Feedback').modal('show');"><img src="~/Imag/feedback.png" width="100px" /></button>
</div>

<div class="container" style="text-align: center;margin-top: -50px;">
    <h1 class="text-light"><strong>Welcome on my page!</strong></h1>

    <p class="text-light">This website will serve as a chat, reminder and as a place where people from different parts of the world communicate with each other.</p>

    <p class="text-light"> Communication can be done with anyone and if you want to make communication with someone easier you can make it a friend.</p>

    <p class="text-light">Also, if you want to communicate to someone later, you can save everything in a note to review when you open the app to remember.</p>

    <br />

    <h1 class="text-light"><strong>Contact:</strong></h1>

    <P class="text-light">..................................</P>
</div>

<div class="container" style=" margin-top: 50px;margin-left: 300px;">
    <div class="alert alert-success" style="border-radius: 40%; width: 350px; height: 220px;">
        <img src="~/Imag/logo.png" style="width: 300px; height: 190px;" />
        <br />
    </div>
</div>



<!-- Modal-->
<div id="Feedback" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tell us what improvements we can add to the next update, or what problems you encountered on our page. </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="text" id="TitleFB" placeholder="Type the subject...." />
                </div>
                <br />
                <div class="form-group">
                    <textarea class="form-control" rows="10" placeholder="Details the subject..." id="ContentFB"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" onclick="GiveFeedback($('#TitleFB').val(),$('#ContentFB').val())" value="Submit" class="form-control btn-success" />
            </div>
        </div>

    </div>
</div>

