﻿
@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/_LayoutTabels.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        populateTable();
    })

    function populateTable() {

        $.noConflict();
        $('#DataTabelFeedbacks').DataTable({
            "processing": true,
            "serverSide": false,
            "filter": true,
            "orderMulti": false,
            "pageLength": 10,
            "destroy": true,
            "ajax":
            {
                "url": "/Home/GetFeedbacks",
                "type": "GET",
                "datatype": "json",
                "dataSrc": ''
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                }],
            "columns": [
                { "data": "feedBackID", "title": "ID", "autoWidth": true },
                { "data": "userSent.email", "title": "USER_EMAIL", "autoWidth": true },
                { "data": "userSent.fullname", "title": "USER_NAME", "autoWidth": true },
                { "data": "subject", "title": "SUBJECT", "autoWidth": true },
                { "data": "content", "title": "CONTENT", "autoWidth": true },
                { "data": "dateReceive", "title": "DATE_RECEIVE", "autoWidth": true },
            ],
        });
    }


</script>

<div class="container" style="margin-top:30px">
    <table class="table" id="DataTabelFeedbacks">
        <tr>
            <th>Id</th>
            <th>UserEmail</th>
            <th>UserName</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Datareceive</th>
        </tr>
    </table>
</div>




