﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutRL.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#LoginBtn").click(function () {
            Login();
        });
    })
    function Login() {
        if ($("#Email").val() == '' || $("#Password").val() == '') {
            alert("All the fields are required!");
            return 0;
        }

        var val = ValidationEmail($("#Email").val());
        var valp = ValidationPassword($("#Password").val());
        var tot = "";

        if (val != '0') {
            tot = val;
        }

        if (valp != '0') {
            tot = tot + "\n" + valp;
        }

        if (tot == null || tot == "") {
            $.ajax({
                data: { "Email": $("#Email").val(), "Password": $("#Password").val() },
                url: "/Home/Login",
                type: "POST",
                dataType: "JSON",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode != "200") {
                        alert(responseMessage);
                    } else {
                        $('#PopupWelcome').modal("show");
                    }
                }
            });
        } else {
            alert(tot);
        }

    }

</script>

<div class="container" id="Login" style="margin-top:10%">
    <div class=" alert alert-success col-8 offset-2">
        <img src="~/Imag/logo.png" width="96px" height="65px" style="margin-left: 40%;" />
        <h2 class="text-center"><strong>Welcome!!</strong> </h2>
        <br />
        <form method="post">
            <div class="input-group">
                <label for="Email" class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></label>
                <input class="form-control" type="text" id="Email" placeholder="Type the email..." />
            </div>
            <br />
            <div class="input-group">
                <label for="Password" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                <input class="form-control" type="password" id="Password" placeholder="Type the password..." />
            </div>
            <br />
        </form>
        <div class="btn-group">
            <input type="submit" id="LoginBtn" value="Login" class="btn btn-success" style="width:680px;" />
        </div>
        <br />
        <br />
        <a asp-controller="Home" asp-action="Register" class="btn btn-link offset-4" style="width:800px;">I have no account</a>
        <br />
    </div>
</div>

<!-- Modal -->
<div id="PopupWelcome" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                    <div class="container offset-2">
                        <p class="text-center"> <h1>Welcome back!</h1></p>
                        <img src="~/Imag/feedback.png" width="200px" height="200px" />
                    </div>
            </div>
            <div class="modal-footer">
                <input type="submit" onclick="window.location.href = '/Note'" value="Thank you!" class="form-control btn-success" />
            </div>
        </div>

    </div>
</div>