﻿
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutRL.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#RegisterBTN").click(function () {
            Register();
        });
    })

    function EmptyValidation() {
        if ($('#FullnameRegister').val() == "" ||
            $('#EmailRegister').val() == "" ||
            $('#CountryRegister').val() == "" ||
            $('#PasswordRegister').val() == "" ||
            $('#PasswordConfirmRegister').val() == ""
        ) {
            return "All the fields are required!";
        }
        return 0;
    }

    function Register() {

        var messageEmpty = EmptyValidation();

        if (messageEmpty != 0) {
            alert(messageEmpty);
            return 0;
        } else {
            var messagePassword = ValidationPassword($('#PasswordRegister').val());
            var messagePasswordConfirm = ValidationPasswordMatch($('#PasswordRegister').val(), $('#PasswordConfirmRegister').val());
            var messageAll = ValidationEmail($('#EmailRegister').val());

            if (messagePassword != 0)
                messageAll = messageAll + " " + messagePassword;

            if (messagePasswordConfirm != 0)
                messageAll = messageAll + " " + messagePasswordConfirm;

            if (messageAll == 0) {
                $.ajax({
                    type: "POST",
                    url: "/Home/RegisterUser",
                    data: {
                        'Fullname': $('#FullnameRegister').val(),
                        'Email': $('#EmailRegister').val(),
                        'Country': $('#CountryRegister').val(),
                        'Password': $('#PasswordRegister').val(),
                        'BirthDay': $('#BirthRegister').val()
                    },
                    dataType: "json",
                    success: function (result) {
                        var serverResponse = result.split(",");
                        var responseCode = serverResponse[0];
                        var responseMessage = serverResponse[1];

                        if (responseCode == "200") {
                            window.location.href = "Home/Login";
                        } else {
                            alert(responseMessage);
                        }
                    }
                });
            } else {
                alert(messageAll);
            }
        }
    }


</script>

<div class="container" id="Register" style="margin-top:10%">
    <div class=" alert alert-success col-8 offset-2">
        <form method="post">
            <img src="~/Imag/logo.png" width="96px" height="65px" class="offset-3" />
            <h1 class="text-center" style="margin-top: -8%;"><strong>Register</strong> </h1>
            <br />

            <br />
            <div class="input-group">
                <label for="FullnameRegister" class="input-group-addon"><span class=" glyphicon glyphicon-user"></span></label>
                <input class="form-control" type="text" id="FullnameRegister" placeholder="Type your fullname..." />
            </div>
            <br />
            <div class="input-group">
                <label for="EmailRegister" class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></label>
                <input class="form-control" type="text" id="EmailRegister" placeholder="Type the email..." />
            </div>
            <br />
            <div class="input-group">
                <label for="CountryRegister" class="input-group-addon"><span class=" glyphicon glyphicon-plane"></span></label>
                <input class="form-control" type="text" id="CountryRegister" placeholder="Type your country..." />
            </div>
            <br />
            <div class="input-group">
                <label for="PasswordRegister" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                <input class="form-control" type="password" id="PasswordRegister" placeholder="Type the password..." />
            </div>
            <br />
            <div class="input-group">
                <label for="PasswordConfirmRegister" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                <input class="form-control" type="password" id="PasswordConfirmRegister" placeholder="Type the password again..." />
            </div>
            <br />
            <div class="input-group">
                <label for="BirthRegister" class="input-group-addon"><span class=" glyphicon glyphicon-calendar"></span></label>
                <input class="form-control" type="date" id="BirthRegister" placeholder="Type your birthday..." />
            </div>
            <br />

            <div class="btn-group">
                <input type="submit" value="Register" id="RegisterBTN" class="btn btn-success" style="width:680px;" />
            </div>
        </form>
        <br /><br />
        <a asp-action="Login" asp-controller="Home" class="btn btn-link offset-9">I have an account</a>
        <br />
    </div>
</div>


