﻿
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_LayoutTabels.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        populateTable();
    })

    function populateTable() {

        $.noConflict();
        $('#DataTabelRole').DataTable({
            "processing": true,
            "serverSide": false,
            "filter": true,
            "orderMulti": false,
            "pageLength": 10,
            "destroy": true,
            "ajax":
            {
                "url": "/Role/ReadRoles",
                "type": "GET",
                "datatype": "json",
                "dataSrc": ''
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                }],
            "columns": [
                { "data": "userID", "title": "ID", "autoWidth": true },
                { "data": "email", "title": "USER_EMAIL", "autoWidth": true },
                { "data": "userRole.name", "title": "ROLE", "autoWidth": true },
            ],
        });
    }


    function InsertRole(email, role) {
        if (email == "" || role == "" || role == "--- Select role ---") {
            alert("All fields are required!");
            return 0;
        }

        $.ajax({
            type: "POST",
            url: "/Role/InsertRole",
            data: {
                'Email': email,
                'USerRole.Name': role
            },
            dataType: "json",
            success: function (result) {
                var serverResponse = result.split(",");
                var responseCode = serverResponse[0];
                var responseMessage = serverResponse[1];

                alert(responseMessage);
                window.location.reload();

            }
        });


    }
</script>

<div class="container col-lg-3 offset-sm-5">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" name="Email" id="EmailInsert" placeholder="Email..." />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <select class="form-control" id="RoleInsert">
                <option>--- Select role ---</option>
                <option>ADMIN</option>
                <option>USER</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success form-control" type="submit" onclick="InsertRole($('#EmailInsert').val(),$('#RoleInsert').val())">Add</button>
    </div>

</div>

<div class="container" style="margin-top:30px">
    <table class="table" id="DataTabelRole">
        <tr>
            <th>Id</th>
            <th>UserEmail</th>
            <th>Role</th>
        </tr>
    </table>
</div>


