﻿@model List<SocialNetwork.Models.Note>

@{
    ViewData["Title"] = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">

    ul li.notes {
        text-decoration: none;
        color: #000;
        background: #f6ff7a;
        display: block;
        height: 30%;
        width: 50%;
        padding: 1em;
        -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -moz-transition: -moz-transform .15s linear;
        -o-transition: -o-transform .15s linear;
        -webkit-transition: -webkit-transform .15s linear;
    }

    ul li h2 {
        font-size: 140%;
        font-weight: bold;
        padding-bottom: 10px;
    }

    ul li p {
        font-family: "Reenie Beanie",arial,sans-serif;
        font-size: 180%;
    }
</style>

<script>

    $(document).ready(function () {
        $('#AddNotes').modal("hide");
        $('#UpdateNotes').modal("hide");

    })

    function AddNewNotes(title, content) {
        if (title == "" || title == null) {
            alert("Title is required!");
            return 0;
        } else {
            $.ajax({
                type: "POST",
                url: "/Note/AddNote",
                data: {
                    'Title': title,
                    'Content': content
                },
                dataType: "json",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        window.location.reload();
                    } else {
                        alert(responseMessage);
                    }
                }
            });
        }
    }

    function UpdateNote(id) {
        $.ajax({
            type: "GET",
            url: "/Note/GetNoteById?id=" + id,
            success: function (result) {
                $('#TitleUpdate').val(result.title);
                $('#ContentUpdate').val(result.content);
                $('#IDNOTEUPDATE').val(result.noteID);
                $('#UpdateNotes').modal('show');
            }
        });

    }

    function ChangeNote(id, title, content) {
        if (title == "" || title == null) {
            alert("Title is required!");
            return 0;
        } else {
            $.ajax({
                type: "POST",
                url: "/Note/UpdateNote",
                data: {
                    'NoteID': id,
                    'Title': title,
                    'Content': content
                },
                dataType: "json",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        window.location.reload();

                    } else {
                        alert(responseMessage);
                    }
                }
            });
        }
    }

    function DeleteNote(id) {
        $.ajax({
            type: "GET",
            url: "/Note/DeleteNote?id=" + id,
            success: function (result) {
                var serverResponse = result.split(",");
                var responseCode = serverResponse[0];
                var responseMessage = serverResponse[1];

                if (responseCode == "200") {
                    window.location.reload();
                } else {
                    alert(responseMessage);
                }
            }
        });
    }
</script>




<div class="container" style="margin-top: 100px;margin-left: 700px;">
    <div class="alert alert-success" style="border-radius: 40%; width: 350px; height: 220px;">
        <img src="~/Imag/logo.png" style="width: 300px; height: 190px;" />
        <br />
    </div>
</div>

<div class="container" style="margin-top: -300px;">
    <button id="AddNote" class="btn btn-primary" onclick="$('#AddNotes').modal('show');"><i class="glyphicon glyphicon-plus-sign" style="width: 100px;"> Add</i></button>
</div>

@if (Model != null)
{
    @foreach (SocialNetwork.Models.Note item in Model)
    {
        <ul style="overflow:hidden;padding:3em">
            <li class="notes">
                <h2>@item.Title</h2>
                <p>@item.Content</p>
                <input type="submit" class="btn btn-link" onclick="UpdateNote(@item.NoteID)" value="Edit" />

                <input type="submit" class="btn btn-link" onclick="DeleteNote(@item.NoteID)" value="Delete" />
            </li>
        </ul>
    }

}


<!-- Modal -->
<div id="AddNotes" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New notes</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group"><input class="form-control" type="text" id="Title" placeholder="Type the title..." /></div>
                <div class="form-group"><textarea class="form-control" rows="10" id="Content" placeholder="Content..."></textarea></div>
            </div>
            <div class="modal-footer">
                <input type="submit" onclick="AddNewNotes($('#Title').val(),$('#Content').val())" value="Add" class="form-control btn-success" />
            </div>
        </div>

    </div>
</div>

<!-- Modal-->
<div id="UpdateNotes" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <div class="form-group"><input class="form-control" type="text" id="TitleUpdate" /></div></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input id="IDNOTEUPDATE" hidden="hidden" type="text" />
                <div class="form-group"><textarea class="form-control"  id="ContentUpdate"></textarea></div>
            </div>
            <div class="modal-footer">
                <input type="submit" onclick="ChangeNote($('#IDNOTEUPDATE').val(),$('#TitleUpdate').val(),$('#ContentUpdate').val())" value="Change" class="form-control btn-success" />
            </div>
        </div>

    </div>
</div>




